$browseInfo:(normal:null,webkit:-webkit-,opera: -o-,firefox:-moz-,ie:-ms-);
@mixin cssSet($attrName,$values...){
  @each $browser,$prefix in $browseInfo{
    #{$prefix}#{$attrName}:$values;
  }
}
.full-screen{
    .ux-box-layout{
        font-size:20px;
        .ux-box-item-preview{

        }
      @media(max-width:768px){
        .ux-box-item{
          display:none;
          &.ux-box-item-sel{
            display:block;
          }
          table{
            display:none;
          }

        }
      }
      .ux-box-item-preview{
          @include cssSet(transition,opacity 2s);
      }
    }
}

.ux-box-layout{
    position: relative;
    height: 100%;
    width:100%;
    overflow:hidden;
    padding:10px;
    >div{
        left:0;
        width:100%;
        position: absolute;
    }
    $titleHeight:120px;
    font-size:32px;
    .ux-box-layout-title{
        height: $titleHeight;
        overflow:hidden;

        text-align:center;
        line-height: $titleHeight;
    }
    .ux-box-layout-content{
        top:$titleHeight;
        bottom:0;
        overflow:hidden;
        background-color: #fff;
    }
    .ux-box-item{
        @include cssSet(box-sizing,border-box);
        position: absolute;
        z-index:2;
        @include cssSet(transition,all 800ms);
        overflow:hidden;
        padding: 10px;
        @include cssSet(background-clip,content-box);
        cursor: pointer;
        background-color: #fff;
        text-align: center;
        &:hover{
            color:#fff;
            background-color: #cad63f;
        }
        border:1px solid #eee;
        table{
            width:100%;
            height:100%;

            tr{
                width:100%;
            }
            td{
                width:100%;
            }
        }
        .ux-box-item-detail{
            position: absolute;
            z-index:2;
            width:100%;
            overflow:hidden;
            height:0;
            opacity: 0;
            text-align: left;
            word-spacing: 2px;
            line-height: 1.8;
            >header{
                width:100%;
                padding:10px 0 10px 20px;
                position: relative;
                $btnHeight: 30px;
                text-align: center;
                span{
                    padding-top:10px;
                }
                .ux-box-closebtn{
                    position: absolute;
                    right:$btnHeight;
                    top:50%;
                    margin-top:0 - $btnHeight/2;
                    margin-right:0 - $btnHeight/2;
                    height:$btnHeight;
                    width:$btnHeight;
                    cursor: pointer;
                    background: url(../images/closex2.png) no-repeat;
                    background-size: 100% 100%;

                }
            }
            >div{
                position: absolute;
                top:192px;
                bottom:10px;
                width:100%;
                overflow:auto;
                ul{

                  list-style-type:none;
                  &.native-apperance{
                    margin-left:50px;
                    list-style-type:disc;
                  }
                }
                li{
                    padding:20px 10px;
                    width:100%;
                }
                .img-canvas-h,.img-canvas-v{
                  width:100%;
                }
                @media screen and (orientation:portrait) {
                  .img-canvas-h{
                    display:none;
                  }
                  .img-canvas-v{
                    display:block;
                  }
                }
                @media screen and (orientation:landscape) {
                  .img-canvas-v{
                    display:none;
                  }
                  .img-canvas-h{
                    display:block;
                  }
                }


            }
        }
        &.ux-box-item-sel{
            background-clip: border-box;
            color:#fff;
            background-color: #cad63f;
        }

    }
    @media(max-width:768px){
        $titleHeight:80px;
        .ux-box-layout{
            .ux-box-layout-title{

            }
            .ux-box-layout-content{

            }
        }
        .ux-box-item{
            @include cssSet(transition,top 800ms,opacity 800ms 1s);
            &:hover{
                color:#000;
                background-color: #fff;
            }
            &:active{
                color:#fff;
                background-color: #cad63f;
            }
            &.ux-box-item-sel{
                &:hover{
                    background-color: #fff;
                }

                background-color: #eee;
                padding:0;
                opacity:0.5;
                table{
                    display:none;
                }
                .ux-box-item-detail{
                    color:#000;
                    background-color: #fff;
                    height:100%;
                    opacity: 1;
                    >div{
                        top:60px;
                    }
                }
            }
            &.ux-box-item-sel-show{
                top:0 !important;
                width: 100% !important;
                height:100% !important;
                left:0 !important;
                opacity:1;
            }

        }

    }
    .ux-box-item-preview{
        position: absolute;

        left:0;
        top:0;
        height:100%;
        z-index:1;
        $topHeight:120px;
        $btnWidth:$topHeight;
        opacity: 0;
        >header{
            position: relative;
            height:$topHeight;
            .ux-box-closebtn{
                $btnh:45px;
                $marg:($topHeight - $btnh)/2;
                position: absolute;
                right:$marg;
                top:$marg;
                width:$btnh;
                height:$btnh;
                cursor: pointer;
                background: url(../images/closex2.png) no-repeat;
                background-size: 100% 100%;

            }
            .ux-box-title{
                position: absolute;
                left:0;
                right:$btnWidth;
                height:100%;
                text-align:center;
                padding-left:20px;
                line-height:$topHeight;
            }
        }
        >div{
            &.ux-box-content{
                position: absolute;
                top:$topHeight;
                bottom: 0;
                width:66%;
                left:17%;
                overflow:auto;
                padding:0 20px;
                word-spacing: 2px;
                line-height: 1.8;
                ul{

                  list-style-type:none;
                  &.native-apperance{
                    margin-left:50px;
                    list-style-type:disc;
                  }
                }
                li{
                  width:100%;
                  padding:20px 10px;

                }
                .img-canvas-h{
                    width:100%;
                }
                @media screen and (orientation:portrait) {
                    .img-canvas-h{
                        display:none;
                    }
                    .img-canvas-v{
                      display:block;
                    }
                }
                @media screen and (orientation:landscape) {
                    .img-canvas-v{
                      display:none;
                    }
                    .img-canvas-h{
                      display:block;
                    }
                }
            }

        }

    }
    @media(max-width:768px){
        .ux-box-item-preview{
            display:none;
        }
    }
}
@media(max-width:768px){
  .ux-box-layout{
      font-size:20px;
  }
}